body {
    /* background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #000000;
} 

.navbar {
    background-color: transparent; /* Set the background color to transparent */
    border: none; /* Remove any border */
  }
.navbar-header{
    padding: 20px;
    padding-left: 50px;
}
.nav{
    padding-right: 10%;
    padding-top: 20px;
    font-size: 22px;
}

.name-intro {
    color: #FFFFFF;
    font-family: 'League Spartan', sans-serif;
}
  
.name-intro h1 {
    font-size: 96px;
}
  
.name-intro p {
    font-size: 32px;
}
  
#lander{
    padding-top: 10%;
    padding-left: 5%;
    margin-bottom: 20%;
}

.about-me{
     position: absolute;
     width: 168px;
     height: 50px;
     
     font-family: 'League Spartan', sans-serif;
     font-style: normal;
     font-weight: 200;
     font-size: 20px;
     line-height: 37px;
     
     color: #000000;

    background: #d2e94f;
    border-radius: 15px;
}
.about-me:hover {
    background-color: #C6D284; /* Change background color on hover */
}

.container.body-container {
    margin: 0px;
    margin-left: 50px;
}

#about-me-image p{
    padding-top: 5%;
    font-size: 21px;
    color: whitesmoke;
    font-family: 'League Spartan', sans-serif;;
} 

.custom-h1{
    font-size: 30px;
    color: #d2e94f;
}
@media screen and (max-width: 768px) {
    .name-intro h1 {
      font-size: 55px;
    }
  
    .name-intro p {
      font-size: 15px;
    }

    #lander {
        padding-top: 10%;
        padding-left: 50px;
        margin-bottom: 5px;
    }

    .about-me {
        position: absolute;
        width: auto; /* Allow the width to adjust based on content */
        max-width: 80%; /* Limit the width on smaller screens */
        height: 50px;
    
        font-family: 'League Spartan', sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 16px; /* Adjust font size as needed for responsiveness */
        line-height: 37px;
    
        color: #000000;
    
        background: #d2e94f;
        border-radius: 15px;
    }
    #about-me-image{
        padding-top: 15%;
        padding-left: 50px;
    }
    #about-me-image img{
        height: 80%;
        width: 80%;
    }
    #about-me-image p{
        font-size: 15px;
    }
}

.container .custom-h1 {
    text-align: center;
    padding-top: 20%;
  }

  .card-container {
    perspective: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }

  .card {
    width: 400px;
    height: 500px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .card:hover {
    transform: rotateY(180deg);
  }

  .card .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    /* border: 2px solid #333; */
  }

  .card .front {
    transform: rotateY(0deg);
    color: #282d0e;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    text-align: center;
    /* padding-top: 5px; */
  }

  .card .back {
    transform: rotateY(180deg);
  }

  .card img {
    max-width: 100%;
    max-height: 100%;
    border-bottom: 2px solid #333;
  }

  .card button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #d2e94f;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
  }

  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      height: auto;
    }

    .card {
      margin: 10px 0;
    }
  }

  #footer .row .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #footer .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; /* Adjust as needed for spacing between icons and text */
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 10px;
  }


  #footer {
    margin-top: 5%;
    padding: 3% 2%;
    background-color: #ffffff;
    /* text-align: center; */
  }
  #footer p {
    color: #000000;
    /* margin: 5px 0; */
  }
 
 .footer-img{
    width: 40px; 
  }
 
  .copyright {
    font-size: 0.95rem;
    padding-top: 30px;
    margin-bottom: 0;
    text-align: center;
  }